/* paramètre de base appliqué sur la page d'accueil html*/
* {
	margin: 0;
	padding: 0;
	color: white;
	box-sizing: border-box;
}
/* police utilisé pour le titre de la page d'accueil*/
@font-face{
	font-family: nom-de-police;
	src:  url(Police/Game_Played.otf);
}
@font-face{
	font-family: nom-de-police2;
	src:  url(Police/Super_Sonic\ -\ Demo.ttf);
}

html{
	background: black;
	font-size: 62.5%;
}
li{
	font-size: 1.75rem;
}
a{
	color: white;
	text-decoration: none;
}
/* changement de couleur dès qu'un lien (interne oiu externe) est inséter dans du texte*/
a:hover{
	color: greenyellow;
}

.main-head {
	background-image: url(/Images/presentationdeco/lourd.jpg);
}
/* menu principale : placement et décalage entre les mots et caractères*/
nav{
	min-height: 10vh;
	display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem;
    
}

/*header*/

nav ul{
	display: flex;
	flex: 1 1 40rem;
	align-items: center;
	justify-content: space-around;
	list-style: none;
	font-family: 'Grechen Fuemen', cursive;
}
/* Classe logo utilisé pour placer l'image dans le main-head*/
#logoSSBU{
	flex: 1 60 40rem;
	color: white;
	background-repeat: no-repeat;
	background-position: -1px;
}
/* police utilisé pour le titre de la page d'accueil*/

h2{
	color: red;
	font-size: 65px;
	text-align: center;

}
/* police utilisé pour le footer de la page d'accueil*/
h3{
	color: white;
	font-size: 40px;
	text-align: center;
}
/* classe pdiv utilisé pour précicer la police dans le titre*/
.pdiv{
	font-family: nom-de-police;
}
*
/* classe pdiv2 utilisé pour précicer la police dans le footer*/
.pdiv2{
	font-family: nom-de-police2;
	width: 100%;
}
.video{
    width: 100%;
    height: 100%;
    margin-top: auto;
}
/*Mobile Responsive */

@media (max-width: 500px) {
	.main-head {
		height: 110px;
	}
	.main-head ul {
		padding: 10px;
	}
	.main-head li {
		padding: 10px;
	}
	ul, li {
		width: 100px;
	}
}